requests:
  cpu: "1"
  memory: 2Gi
limits:
  cpu: "2"
  memory: 4Gi
pods: "10"

demoPod:
  enabled: false
  replicas: 1
  image: nginx:1.27-alpine
  requestCpu: 50m
  requestMemory: 64Mi
  limitCpu: 200m
  limitMemory: 256Mi
